body {
  background-image: linear-gradient(rgb(60, 0, 170), rgb(148, 225, 255));
  background-attachment: fixed;
  height: 100%;
  margin-bottom: 50px;
}

h1,h2,h3,h4 {
  text-align: center;
}

.card {
  padding: 25px;
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
  border: none;
  border-radius: 0%;
}

.btn {
  margin-top: 15px;
  width: 100%;
}

.form-control {
  margin-top: 15px;
  margin-bottom: 15px;
}

.main-list {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 275px;
  margin-top: 45px;
  margin-left: 40px;
  margin-right: 20px;
  margin-bottom: 90px;
}

.job-compare-card {
  margin: 80px;
  max-width: 75%;
  box-shadow: 15px 10px 8px #0000001c;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

.list-card {
  box-shadow: 15px 10px 8px #0000001c;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  transition: width 0.25s, height 1.5s, background-color 1s, color 1s, transform 2s;
  width: 300px;
  height: 300px;
}

.list-card:hover {
  background-color: rgb(252,190,65);
  width: 325px;
  height: 400px;
  color: white;
  border: greenyellow;
}

.score-card {
  text-align: center;
  font-size: 40px;
}

#grade-f {
  color: red;
}
#grade-d {
  color: rgb(230, 149, 0);
}
#grade-c {
  color: rgb(177, 177, 0);
}
#grade-b {
  color: rgb(10, 196, 187);
}
#grade-a {
  color: rgb(0, 177, 0);
}

.score-view {
  background-color: rgba(187, 187, 187, 0.26);
  width: 400px;
  border-radius: 25px;
  box-shadow: 15px 10px 8px #0000001c;
}

.keyword-card {
  background-color: rgba(187, 187, 187, 0.26);
  border-radius: 25px;
  padding: 50px;
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 15px 10px 8px #0000001c;
}

.score-button {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.card-image {
  margin: 20px;
}

#new-job {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  transition: width 1s, height 1s, background-color 1s, color 1s, transform 2s;
}

#new-job:hover {
  color: white;
  background-color: rgba(2, 172, 2, 0.644);
}

#new-job-img {
  width: 100px;
}

.details-image {
  width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
