body {
  margin: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;

}

h1,h2,h3 {
  text-align: center;
}
.card {
  margin: 15px;
  padding: 25px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  min-width: 500px;
  max-width: 49%;
  transition: background-color 1s;
}

.card:hover {
  background-color: lightblue;
}

.form-control {
  margin-top: 15px;
  margin-bottom:15px ;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
